/*normalize*/
*{
    padding:0;
    margin: 0;
}
/*body*/
body{
    background-color:#888;
}
/*end of body*/

/* start of navbar*/
.navbar{
    background-color:#000;
    padding: 10px;
}
.navbar ul li{
    display: inline-block;
    margin-left: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff
}
/* end of navbar*/
/*start of hero*/
.hero{ 
     height: 35vh;
     width: 90%;
     margin:20px auto;
    background-image:url(../images/1.jpg) ;
    background-size: cover;
    background-repeat:no-repeat;
background-position: center;
border-radius: 7px;
}
/*end of hero*/
/*heading*/
.heading{
    text-align: center;
}
/* end of heading*/
/*start of products*/
.products{
    margin-top: 40px;
}
.products .pro{ 
    background-color: #000;
    width: 15%;
    margin-top: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.products .pro img{
    width: 200px;
    height: 170px;
    margin-bottom: 10px;
}
.products .pro h3{margin-bottom: 10px;}
.products .pro p{margin-bottom: 10px;}
.products .pro button{ padding: 7px 10px;
border-radius: 12px;}
/*end of products*/
.pro1{margin-left:3%;}
.pro2{margin-left: 22%;}
.pro3{margin-left: 47%;}
.pro4{margin-left: 71%;}
